body {
    background-color: #1a1aff;
    color: white;
    font-family: 'EB Garamond', 'Garamond', 'Times New Roman', serif;}

h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    padding-top: 16px;
    border-width: 4px;
    border-top-style: solid;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    text-align: right;
    }

h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    text-align: right;
    font-weight: 300;}
    
p {
    font-size: 16px;
    color: #dddddd;
  }

#page
{
	max-width: 960px;
	margin: 16%
}
#homeblock {
    padding-top: 24px;
